<footer class="bg-dark text-light py-custom">
  <div
    class="container d-lg-flex justify-content-lg-between align-items-lg-center"
  >
    <div>
      <a href="index.html">
        <img
          src="../assets/images/LOGO.png"
          alt="ZOBBA! LOGO"
          class="mb-lg-8"
        />
      </a>
      <div>
        <ul class="list-unstyled d-lg-flex gap-lg-8 my-lg-0 my-10">
          <li class="mb-4 mb-lg-0"><a href="#">常見問題</a></li>
          <li class="mb-4 mb-lg-0"><a href="#">關於我們</a></li>
          <li class="mb-4 mb-lg-0"><a href="#">隱私權政策</a></li>
          <li class="mb-4 mb-lg-0"><a href="#">使用者條款</a></li>
        </ul>
      </div>
    </div>
    <div>
      <div class="d-flex justify-content-lg-end gap-4 mb-4">
        <a
          href="#"
          class="d-flex align-items-center justify-content-center rounded-circle border border-light"
          style="width: 40px; height: 40px"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-line"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 0c4.411 0 8 2.912 8 6.492 0 1.433-.555 2.723-1.715 3.994-1.678 1.932-5.431 4.285-6.285 4.645-.83.35-.734-.197-.696-.413l.003-.018.114-.685c.027-.204.055-.521-.026-.723-.09-.223-.444-.339-.704-.395C2.846 12.39 0 9.701 0 6.492 0 2.912 3.59 0 8 0M5.022 7.686H3.497V4.918a.156.156 0 0 0-.155-.156H2.78a.156.156 0 0 0-.156.156v3.486c0 .041.017.08.044.107v.001l.002.002.002.002a.15.15 0 0 0 .108.043h2.242c.086 0 .155-.07.155-.156v-.56a.156.156 0 0 0-.155-.157m.791-2.924a.156.156 0 0 0-.156.156v3.486c0 .086.07.155.156.155h.562c.086 0 .155-.07.155-.155V4.918a.156.156 0 0 0-.155-.156zm3.863 0a.156.156 0 0 0-.156.156v2.07L7.923 4.832l-.013-.015v-.001l-.01-.01-.003-.003-.011-.009h-.001L7.88 4.79l-.003-.002-.005-.003-.008-.005h-.002l-.003-.002-.01-.004-.004-.002-.01-.003h-.002l-.003-.001-.009-.002h-.006l-.003-.001h-.004l-.002-.001h-.574a.156.156 0 0 0-.156.155v3.486c0 .086.07.155.156.155h.56c.087 0 .157-.07.157-.155v-2.07l1.6 2.16a.2.2 0 0 0 .039.038l.001.001.01.006.004.002.008.004.007.003.005.002.01.003h.003a.2.2 0 0 0 .04.006h.56c.087 0 .157-.07.157-.155V4.918a.156.156 0 0 0-.156-.156zm3.815.717v-.56a.156.156 0 0 0-.155-.157h-2.242a.16.16 0 0 0-.108.044h-.001l-.001.002-.002.003a.16.16 0 0 0-.044.107v3.486c0 .041.017.08.044.107l.002.003.002.002a.16.16 0 0 0 .108.043h2.242c.086 0 .155-.07.155-.156v-.56a.156.156 0 0 0-.155-.157H11.81v-.589h1.525c.086 0 .155-.07.155-.156v-.56a.156.156 0 0 0-.155-.157H11.81v-.589h1.525c.086 0 .155-.07.155-.156Z"
            />
          </svg>
        </a>
        <a
          href="#"
          class="d-flex align-items-center justify-content-center rounded-circle border border-light"
          style="width: 40px; height: 40px"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-youtube"
            viewBox="0 0 16 16"
          >
            <path
              d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.01 2.01 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.01 2.01 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31 31 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.01 2.01 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A100 100 0 0 1 7.858 2zM6.4 5.209v4.818l4.157-2.408z"
            />
          </svg>
        </a>
        <a
          href="#"
          class="d-flex align-items-center justify-content-center rounded-circle border border-light"
          style="width: 40px; height: 40px"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="white"
            class="bi bi-facebook"
            viewBox="0 0 24 24"
          >
            <path
              d="M16.215 23.0943V14.5012H19.0987L19.53 11.1524H16.215V9.01492C16.215 8.04555 16.485 7.38367 17.8743 7.38367H19.6481V4.38367C18.7892 4.29432 17.926 4.25176 17.0625 4.25617C14.5087 4.25617 12.75 5.81242 12.75 8.68305V11.1524H9.86621V14.5012H12.75V23.0943H16.215Z"
            />
          </svg>
        </a>
      </div>
      <div>
        <p class="copyright fs-body2">
          copyright © 2025 ZOBAA 旅遊網站 All Rights Reserved.
        </p>
      </div>
    </div>
  </div>
</footer>

<style>
  /* 行動板上下pagging 80px */
  .py-custom {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  /* 桌機板上下pagging 100px */
  @media (min-width: 992px) {
    .py-custom {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }
</style>
