<nav class="navbar">
  <div class="container">
    <div class="navbar-search d-flex align-items-center">
      <p>
        <a href="#" class="navbar-brand fw-bold fs-h4 text-primary-100"
          ># ZOBAA<span class="fst-italic">!</span></a
        >
      </p>
      <input
        class="border-0 rounded-3 p-2"
        type="search"
        placeholder="搜尋景點、地點或城市"
      />
    </div>
    <div class="d-flex align-items-center">
      <a href="#">
        <span class="material-icons-outlined text-primary-100">
          shopping_cart
        </span>
      </a>
      <button class="btn btn-login">登入 / 註冊</button>
    </div>
  </div>
</nav>
